body {
    height: 100vh;
}

main {
    background-color: #eee;
    height: 88%;
}

header {
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer {
    height: 4%
}

.header__left {
    display: inline-block;
    margin-left: 50px;
}

.header__logo {
    font-size: 30px;
    font-weight: bold;
}

.header__right {
    width: 500px;
    margin-right: 50px;
}

.header__right-list {
    display: flex;
    padding-left: 0;
    justify-content: space-between;
}

.header__right-item {
    list-style: none;
}

.header__item-link {
        background: none;
        border: none;
        text-decoration: none;
        cursor: pointer;
        font-size: 1em;
}

.footer__item {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.footer__text {
    display: block;
    font-weight: bold;
}