.header__wrap {
    position: relative;
}

.search__item--month {
    position: absolute;
    left: 0;
    width: 30%;
}

.search__item--user {
    position: absolute;
    right: 0;
    width: 30%;
}

.search__input {
    width: 75%;
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid darkgray;
    border-radius: 5px;
    background-color: #eee;
}

.search__button {
    width: 23%;
    height: 35px;
    border-style: none;
    background-color: black;
    border-radius: 5px;
    color: white;
}