.header__wrap {
    padding-top: 60px;
    padding-bottom: 10px;
    text-align: center;
}

.header__text {
    font-size: 18px;
    font-weight: bold;
}

.form__wrap {
    text-align: center;
}

.form__item {
    width: 300px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 5px;
}

.form__input {
    width: 100%;
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid darkgray;
    border-radius: 5px;
    background-color: #eee;
}

.password__wrap {
    display: flex;
}

.form__input-button {
    border-style: none;
    background-color: rgb(38, 81, 207);
    color: white;
}

.register__wrap {
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
}

.register__item-text {
    margin: 0;
    color: gray;
    font-size: 12px;
}

.register__item-button {
    font-size: 12px;
    color: rgb(38, 81, 207);
    text-decoration: none;
}

.error__message {
    color: red;
}

.login-error__message {
    text-align: center;
    padding: 15px;
    background-color: red;
    color: white;
}