.body__wrap {
    text-align: center;
}

.alert-success {
    font-size: 20px;
    color: rgb(38, 81, 207);
}

.back__button {
    display: block;
    margin-top: 20px;
    font-size: 12px;
    color: rgb(38, 81, 207);
    text-decoration: none;
}

.back__link {
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 1em;
}